//change these accrodingly

.button {
    color: $off-black;
    margin: 0 $l-size 0 $l-size; 
    font-weight: 200;
    font-size: 2rem;
    background: none;
    border: none;
}

.buttonModal {
    background: $purple;
    border: none;
    border-bottom: .3rem solid darken($purple, 10%);
    color: white;
    font-weight: 500;
    padding: $s-size;
}

.button--link {
    background: none;
    border: none;
    color: $off-black;
    padding: 0;
}
