
.search__container{
    background: $gainsboro;
    border-radius: 2rem;
    width: 90%;
    margin: 0 auto;
    padding: 2rem;
}

.searchBar{
    margin: $l-size;
    background: white;
    outline: 1px solid black;
    height: 2.5rem;
    width: 30rem;
}

.pullDown{
    border: 1px solid black;
    height: 3.3rem;
}